/* Dependents.css */

.form-container {
  /* margin: 0 auto;
  padding: 20px;
  width: calc(100% - 400px); 
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

  flex: 1;
  padding: 20px;
  padding-top: 120px;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.form-row label {
  flex: 0 0 150px; /* Fixed width for labels */
  font-weight: bold;
  margin-right: 10px;
}

.form-row input[type="text"],
.form-row input[type="number"],
.form-row input[type="date"],
.form-row select,
.form-row textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form-save-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-save-row button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.form-save-row button[type="button"] {
  background-color: #6c757d;
}

.form-save-row button:hover {
  opacity: 0.9;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

.add-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.9;
}

.attachment-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.attachment-form .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.attachment-form .form-row label {
  flex: 0 0 150px; /* Fixed width for labels */
  font-weight: bold;
  margin-right: 10px;
}

.attachment-form .form-row input[type="file"],
.attachment-form .form-row textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.attachment-form .form-save-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.attachment-form .form-save-row button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.attachment-form .form-save-row button[type="button"] {
  background-color: #6c757d;
}

.attachment-form .form-save-row button:hover {
  opacity: 0.9;
}
