/* Sidebar.css */

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #b8eba3; /* Adjust color to match your theme */
  /* color: #ecf0f1; */
   /* Adjust color to match your theme */
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
/*ONE SRR Adjustment*/
.sidebar .logoContainer h2.title {
  font-size: 31.42px;
  color: #ff1e00bd;
  margin-top: auto;
  align-items: center;
  margin-left: -1em;
  font-weight: bold;
}
.sidebar.active {
  width: 80px;
}

.logoContainer {
  padding: 30px;
  text-align: center;
}

.title {
  font-size: 1.5em;
  margin: 0;
  color: #16b32d70;
}

.sidebar .burgerContainer .burgerTrigger {
  content:icon;
  width: 35px;
  height: 35px;
  background-color: red;
  cursor: pointer;
  z-index: 6;
  opacity: 0;
  position: relative;
}

.burgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #819296; /* Light background for better visibility */
  transition: transform 0.3s ease-in-out;
}

.burgerContainer.active {
  transform: rotate(90deg); /* Optional: rotate burger icon */
}

.burgerTrigger {
  width: 30px;
  height: 3px;
  background-color: #503c2c; /* Dark color for contrast */
  position: relative;
}

.burgerTrigger::before,
.burgerTrigger::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #2c3e50; /* Dark color for contrast */
  position: absolute;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.burgerTrigger::before {
  top: -10px;
}

.burgerTrigger::after {
  top: 10px;
}
/*Home, Admin Buttons on side bar background adjustment*/
.contentsContainer {
  padding: 20px;
  margin-top: auto;
  background-color: #ffffff;
}

.contentsContainer ul {
  list-style: none;
  padding: 0;
}

.contentsContainer li {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.contentsContainer li img {
  margin-right: 10px;
}

.contentsContainer li .active {
  color: #3498db; /* Highlight active link */
}

.contentsContainer li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.contentsContainer li a:hover {
  color: #34d5db; /* Adjust hover color to match your theme */
}
