.attendance-summary-report {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #c8f4fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.attendance-summary-report h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group select,
.form-group input[type="date"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.date-range {
  display: flex;
  align-items: center;
}

.date-range input[type="date"] {
  flex: 1;
  margin: 0 5px;
}

.date-range span {
  margin: 0 5px;
}

button {
  display: block;
  width: 10%;
  padding: 10px;
  background-color: #4ca551;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 71%;
}

button:hover {
  background-color: #fc7c33;
}
