.attendance-records {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: auto;
  background-color: rgb(214, 237, 243);
}

.attendance-records h2 {
  margin-bottom: 20px;
}

.attendance-form .form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.attendance-form .input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.date-picker-container {
  position: relative;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.required-text {
  color: red;
}
